@model IEnumerable<Salon.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Neuen Benutzer erstellen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.entryDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.resignationDate)
    </th>*@
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.HiddenFor(modelItem => item.Id, new { id = "UserID" })
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.entryDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.resignationDate)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
        <td>
            @if (User.IsInRole("Admin") || (User.IsInRole("Lehrer") && item.Roles.Count(x => x.RoleId == "2") == 1))
            {
                @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id })
                <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @if (User.IsInRole("Admin"))
            {
                <span>|</span>
                @Html.ActionLink("Löschen", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>


@section scripts{

}