@model IEnumerable<Salon.Models.Pictures>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSketch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits.VisitId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PictureId)
        </td>
        <td>
            <img src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSketch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visits.VisitId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PictureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PictureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureId })
        </td>
    </tr>
}

</table>

@*@{ Html.RenderPartial("GraphicsView"); }

@section scripts{
    @Scripts.Render("~/Scripts/graphicsbuttons.js")
}*@