@model Salon.Models.Connections

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <div style="margin-bottom: 20px;">
            @Html.ValidationMessageFor(model => model.ConnectionId, "", new { @class = "text-danger" })
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.LName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectionTypes.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectionTypes.Title)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
