@model Salon.Models.Customers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genders.GenderTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genders.GenderTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cities.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.PostalCode)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Cities.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Cities.Countries.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Countries.Title)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allowImages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allowImages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allowSensitive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allowSensitive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CustomerId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
