@model IEnumerable<Salon.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Kunden</h2>

@*<input type="text" id="cusid" value="">*@


@*<div class="container">
    <div class="form-group">
        <div class="input-group">*@
@*<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>*@
@*<input type="text" id="Search" placeholder="Search" class="form-control" />*@
<input type="text" id="Search" placeholder="Search..">
<div style="visibility: hidden">
    @Html.ActionLink("Search", "CustomerOverview", new { searchstring = "" }, new { @class = "customer-overview" })
</div>
@*</div>
        </div>
</div>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="CustomerMaster" style="height : 310px; overflow:auto;">
    <table class="table" id="tbl_cust">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                    @Html.ActionLink("Besuche", "VisitShort", new { id = item.CustomerId }, new { @class = "customer-visitshort" }) |
                    @Html.ActionLink("Kontaktdaten", "CustomerConnection", new { id = item.CustomerId }, new { @class = "customer-connection" })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }) |
                    @Html.ActionLink("Anonymisieren", "Anonymisieren", new { id = item.CustomerId })*@

                </td>
            </tr>
        }



    </table>
</div>

<div id="MasterDetail">


</div>


@section scripts {

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

</script>
    <script type="text/javascript">
        $(function ()
        {
            $('.customer-visitshort').on('click', function (e)
            {
                localStorage.setItem('cusid', $(this).prop('href'));

                $.get($(this).prop('href'), function (response)
                {
                    $('#MasterDetail').html(response)
                });
                e.preventDefault();
            });
        });

        //$(function ()
        //{
        $('body').on('click', '.customer-connection', function (e)
            {
               // alert("amz")

                localStorage.setItem('cusid', $(this).prop('href'));

                $.get($(this).prop('href'), function (response)
                {
                    $('#MasterDetail').html(response)
                });
                e.preventDefault();
            });
        //});

        //$(document).ready(function ()
        //{
        //    $("#Search").keyup(function ()
        //    {
        //        var SearchText = $("#Search").val().toLowerCase();
        //    });
        //});


        $(function () {
            $('.customer-overview').on('click', function (e)
            {
                $.get($(this).prop('href'), function (response)
                {
                    $('#CustomerMaster').html(response)
                    //$('#MasterDetail').html("")
                    //localStorage.clear();
                });
                e.preventDefault();
            });
        });


        $("#Search").keyup(function (e) {
            //localStorage.clear();
            //alert("Amk");
            var Searchtext = $("#Search").val().toLowerCase();

            //MasterDetail.html("");

            $(".customer-overview").attr("href", "/Customers/CustomerOverview?searchstring=" + Searchtext);
            //$(".customer-overview").click();
            //getElementsByClassName("customer-overview").click();
            document.querySelector('.customer-overview').click();
        });

        window.onload = function () {
            if (localStorage.getItem('cusid') != null)
            {
                var link = localStorage.getItem('cusid');
                link = link.substring(21);

                $("a[href$='" + link + "']").click();
                //localStorage.clear();
            }
        };
    </script>
}

