@model IEnumerable<Salon.Models.VisitViewModel>

@{
    ViewBag.Title = "_CustomerVisitShort";
}

<div id="CustomerVisitShort">
    <h2>Visits</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VisitId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VisitId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VisitId })
                </td>
            </tr>
        }
    </table>
</div>