@model Salon.Models.Genders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Genders</h4>
        <hr />
        <dl class="dl-horizontal">

            <div style="margin-bottom: 20px;">
                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
            </div>


            <dt>
                @Html.DisplayNameFor(model => model.GenderTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GenderTitle)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
