@model IEnumerable<Salon.Views.ViewModels.CustomersViewModel>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@*https://forums.asp.net/t/2050549.aspx?Exporting+Data+to+PDF+and+Excel+in+MVC5*@

<div>
    @*<button class="btn btn-info" type="button" id="addressSearch"
            onclick="location.href='@Url.Action("Test", "ReportsController")'"/>*@

    <input type="button" value="Test button" onclick="exportExcel()" class="btn btn-default" />

        <button id="btnExcel" style="width: 150px; display: inline-block; margin: 10px" class="btn btn-default" onclick="">Export Excel</button>
        <button id="btnPdf" style="width: 150px; display: inline-block; margin: 10px" class="btn btn-default">Export PDF</button><br />
</div>

<script>
    BlankTemplate = function () {
            $.ajax({
                url: _rootUrl + "ReportsController/BlankTemplate",
                data: {
                },
                type: "POST"
            });
        }
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="30" />
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th width="30" />
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td />
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td />
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
        </tr>
    }
</table>
