@model IEnumerable<Salon.Views.ViewModels.WorkPerStudentViewModel>

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

@{
    ViewBag.Title = "Work per student";
}

<h2>Work per student</h2>

<div>
@*    <button onclick="location.href='@Url.Action("Export", "Reports", new { export = "excel" } )'" id="btnExcel" style="width: 150px; display: inline-block; margin: 10px" class="btn btn-default" download>Export Excel</button>*@

    @*@Html.DropDownList("TestDDL", new SelectList(new List<string>() { "1", "2" }), null, new { @class = "form-control" })*@
    
</div>

<div>
    @*@{ Html.RenderAction("WorkPerStudentPartial")}*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treatment)
                </td>
            </tr>
        }
    </table>
</div>