@model IEnumerable<Salon.Views.ViewModels.WorkPerClassViewModel>
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div id="ajaxContent"> 
        @if (Model.FirstOrDefault() != null)
        {
            <table id="searchtable" class="table">
                <thead>
                    <tr style="font-size: 16px; cursor: pointer">
                        <th>
                            @Html.DisplayNameFor(model => model.StudentName) 
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Class)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TeacherName) 
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date) 
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Treatment) 
                        </th>
                        <th>
                            Schritt
                        </th>
                        <th>
                            Schrittbeschreibung
                        </th>
                    </tr>
                </thead>
                <tbody style="overflow: auto; max-height: 80%">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Date)*@
                                @Convert.ToString(string.Format("{0:dd.MM.yyyy}", item.Date))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Treatment)
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        if (item.StepsPerTreatment.Count > 0)
                        {
                            foreach (var step in item.StepsPerTreatment)
                            {
                            <tr>
                                <td style="border: none; color: black">
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                                <td style="border: none; color: transparent">
                                    @Html.DisplayFor(modelItem => item.Class)
                                </td>
                                <td style="border: none; color: transparent">
                                    @Html.DisplayFor(modelItem => item.TeacherName)
                                </td>
                                <td style="border: none; color: transparent">
                                    @Convert.ToString(string.Format("{0:dd.MM.yyyy}", item.Date))
                                </td>
                                <td style="border: none; color: transparent">
                                    @Html.DisplayFor(modelItem => item.Treatment)
                                </td>
                                <td style="border: none">
                                    @Html.DisplayFor(x => step.StepTitle)
                                </td>
                                <td style="border: none">
                                    @Html.DisplayFor(x => step.StepDescription)
                                </td>
                            </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Für diese Klasse ist kein Datensatz vorhanden!</h3>
        }
    </div>
</body>
</html>