@model List<Salon.Models.StepOptions>

@if (Model.Any())
{
    <div class="inline-text title">
        <p>@Html.DisplayNameFor(model => model[0].Position)</p>
        <p>@Html.DisplayNameFor(model => model[0].Description)</p>
        <p>@Html.DisplayNameFor(model => model[0].isActive)</p>
        <p></p>
    </div>

}
<div class="panel-group" id="accordions-3">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="panel">
            <div class="panel-heading panel-default">
                <input type="hidden" value="@Model[i].StepOptionId" name="[@ViewBag.TreatmentLoopId][@ViewBag.StepLoopId][@i].StepOptionId" />
                @*@Html.HiddenFor(modelItem => modelItem[i].StepOptionId, new { htmlAttributes = new { @Name = "[" + ViewBag.TreatmentLoopId + "][" + ViewBag.StepLoopId + "][" + i + "].StepOptionId" } })*@
                <div class="inline-text">
                    <div class="form-group">
                        @Html.EditorFor(modelItem => modelItem[i].Position, new { htmlAttributes = new { @class = "form-control", @Name = "[" + ViewBag.TreatmentLoopId + "][" + ViewBag.StepLoopId + "][" + i + "].Position" } })
                        @Html.ValidationMessageFor(modelItem => modelItem[i].Position, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(modelItem => modelItem[i].Description, new { htmlAttributes = new { @class = "form-control", @Name = "[" + ViewBag.TreatmentLoopId + "][" + ViewBag.StepLoopId + "][" + i + "].Description" } })
                        @Html.ValidationMessageFor(modelItem => modelItem[i].Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(modelItem => modelItem[i].isActive, new { htmlAttributes = new { @class = "form-control", @Name = "[" + ViewBag.TreatmentLoopId + "][" + ViewBag.StepLoopId + "][" + i + "].isActive" } })
                    </div>
                </div>
            </div>
        </div>
    }
</div>