@model Salon.Models.Statistics.CustomerStatistics

@{
    ViewBag.Title = "CustomersStatistics";
}

<link rel="stylesheet" href="~/Content/customerstat.css"/>

<style>
    /* The ALERT message box */
    .alert {
        display: none;
        margin-top: 15px;
        padding: 15px;
        background-color: #57ab26; /* Green */
        color: white;
        margin-bottom: 15px;
        opacity: 1;
        transition: opacity 0.6s; /* 600ms to fade out */
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }
</style>

<!-- div to show alerts for ajax responses -->
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Die Auswertung wurde erfolgreich unter "Downloads" heruntergeladen.
</div>

<h2>Kunden-Statistik</h2>

<div style="display: inline-block; width: 100%;">
    <!-- city dropdown -->
    <div class="dropdown">
        <button onclick="dropCities();" class="dropbtn btn btn-primary">Ort &#x21e3;</button>
        <div id="cityDrop" class="dropdown-content">
            <a style="cursor: pointer;" class="locationReset">Alle Orte</a>
            @foreach (var item in Model.GetAllCities())
            {
                <a style="cursor: pointer;" class="locationClick">@item</a>
            }            
        </div>
    </div>

    <!-- treatment dropdown -->
    <div class="dropdown" style="margin-left: 3px;">
        <button onclick="dropTreatments();" class="dropbtn btn btn-primary">Behandlung &#x21e3;</button>
        <div id="treatmentDrop" class="dropdown-content">
            <a style="cursor: pointer;" class="locationReset">Alle Behandlungen</a>
            @foreach (var item in Model.Treatments.OrderBy(c => c.Title).ToList())
            {
                <a style="cursor: pointer;" class="treatmentClick">@item.Title</a>
            }
        </div>
    </div>

    <!-- export button -->
    <a id="export" style="float: right;" class="btn btn-primary" onclick="exportClick()">Download <span style="font-size: 14pt;">&#x21e9;</span></a>
</div>

<div style="width: 100%;">
    <input type="text" id="searchbar" onkeyup="searchTable()" placeholder="Beginne zu tippen...">
    
    <!-- hidden source table -->
    <table id="sourcetable" class="table" style="display: none;">
        <tr>
            <th>Name</th>
            <th>Ort</th>
            <th>Letzte Behandlung</th>
            <th>Kontakt</th>
        </tr>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.LName @item.FName</td>
                <td>@Model.GetCity(item.CityId)</td>
                <td>@Model.LastTreatment(item.CustomerId)</td>
                <td><button onclick="contactClick(this);" id="@item.CustomerId" class="btn contact-btn btn-primary" style="border: 1px solid #ccc">Kontakt-Informationen</button></td>
            </tr>
        }
    </table>

    <table class="table" id="searchtable">
        <tr>
            <th>Name</th>
            <th>Ort</th>
            <th>Letzte Behandlung</th>
            <th>Kontakt</th>            
        </tr>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.LName @item.FName</td>
                <td>@Model.GetCity(item.CityId)</td>
                <td>@Model.LastTreatment(item.CustomerId)</td>
                <td><button onclick="contactClick(this);" id="@item.CustomerId" class="btn contact-btn btn-primary" style="border: 1px solid #ccc">Kontakt-Informationen</button></td>
            </tr>
        }
    </table>
</div>

<!-- The Modal -->
<div id="modalBox" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-btn">&times;</span>
            <h2>Kontakt-Informationen</h2>
        </div>
        <div class="modal-body">
           
        </div>        
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>    
    // globals
    var modal = document.getElementById("modalBox");
    var equipedCity = "all";
    var equipedTreatment = "all";

    /* customer contact button click */
    function contactClick (custid) {
        var custID = custid.id;
        $.ajax({
            type: 'get',
            url: '/Statistics/CustomerStatistics?cust=' + custID,
            success: function (result) {                
                $(".modal-body").html(result);
                $("#modalBox").show();
            },
            failure: function (error) {
                alert("die Kontaktinformationen konnten nicht geladen werden");
            }
        });        
    };
    
    /* MODAL functions */
    /* close modal onclick */
    $(".close-btn").click(function () {
        $("#modalBox").hide();
    });

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    function dropCities() {
        document.getElementById("cityDrop").classList.toggle("show");
    }

    function dropTreatments() {
        document.getElementById("treatmentDrop").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchbar");
        filter = input.value.toUpperCase();
        table = document.getElementById("searchtable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else if (td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    /* click events for dropdowns */

    // location dropdown
    $(".locationClick").click(function () {

        // reset table
        $("#searchtable").html($("#sourcetable").html());

        var input = $(this).html();

        // set filters for export
        equipedCity = input;
        equipedTreatment = "all";

        filter = input.toUpperCase();
        table = document.getElementById("searchtable");
        tr = table.getElementsByTagName("tr");

        // loop through all rows and delete those who didn't match the searched location
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];            
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }                
                else {
                    tr[i].remove();
                    i = i-1;
                }
            }
        }
    });


    // treatment dropdown
    $(".treatmentClick").click(function () {
        // reset table
        $("#searchtable").html($("#sourcetable").html());

        var input = $(this).html();

        // set filters for export
        equipedCity = "all";
        equipedTreatment = input;

        filter = input.toUpperCase();
        table = document.getElementById("searchtable");
        tr = table.getElementsByTagName("tr");

        // loop through all rows and delete those who didn't match the searched location
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].remove();
                    i = i - 1;
                }
            }
        }
    });

    $(".locationReset").click(function () {
        $("#searchtable").html($("#sourcetable").html());
    });

    // CSV export post
    function exportClick() {
        $.ajax({
            type: 'post',
            url: '/Statistics/CustomerStatistics',
            data: {
                download: true,
                cities: equipedCity,
                treatments: equipedTreatment
            },
            success: function (result) {
                $(".alert").css('opacity', '1.0'); 
                $(".alert").show();
            },
            failure: function (error) {
                alert("die Daten konnten nicht exportiert werden!");
            }
        }); 
    }
</script>

<!-- script to fade out alert -->
<script>
    // Get all elements with class="closebtn"
    var close = document.getElementsByClassName("closebtn");
    var i;

    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
        // When someone clicks on a close button
        close[i].onclick = function () {

            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;

            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";

            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>